/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
and then centring the canvas (and anything else)
using the CSS Grid.

**********************************************/

html {
  background-color: #000000;/* sets starting font background colour */
  padding: 0vh;
  margin: 0;
  background-position-x: fixed;
  
  display: grid; /* Set up the grid and justify/align to center */
  justify-content: center;
  align-content: center;
 /* height: 400vh; /* Body is the height of the viewport */
    width: 100vw;
  min-width: 100vw;
  min-height: 100vh;
  
  overflow-x: hidden;
  overflow-y: scroll; /* Hide anything that goes off the window size */
}

body{
  justify-content: center;
  align-content: center;
}

.videos{
  z-index: 1;
}

.scripts{
  z-index: 0;
}

.menu{
  z-index: 2;
}
